<h1>Create New Penguin</h1>

<a href="/">home</a>

<form action='/penguins' method='post'>
	<label>Name:</label><input type='text'  name='name'>
	<br>
	<label>Color:</label><input type='text'  name='color'>
	<br>
	<label>Tail:</label><input type='text'  name='tail'>
	<br>
	<input type='submit' value='Submit'>
</form>